@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "orange";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.077 45.635);
  --color-base-200: oklch(41% 0.112 45.904);
  --color-base-300: oklch(47% 0.137 46.201);
  --color-base-content: oklch(96% 0.059 95.617);
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(27% 0.046 192.524);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(76% 0.177 163.223);
  --color-accent-content: oklch(26% 0.051 172.552);
  --color-neutral: oklch(66% 0.179 58.318);
  --color-neutral-content: oklch(98% 0.022 95.277);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
